

$gray-100: #E0E3E8 !default;
$gray-200: #D1D6DD !default;
$gray-300: #C1C7D1 !default;
$gray-400: #B2BAC5 !default;
$gray-500: #A2ACB9 !default;
$gray-600: #939EAE !default;
$gray-700: #8390A2 !default;
$gray-800: #748297 !default;
$gray-900: #64748B !default;


$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
) !default;



$primary:   #3595F6;
$secondary: $gray-900;
$success:   #22C55E;
$danger:    #E81C4D;
$warning:   #F59E08;
$yellow:    #FCD34D;
$dark:      #334155;
$light:     #F7F8F9;
$white:     #FFFFFF;
$bg:        #F5F6F9;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
) !default;


$body-color: $light;
$variable-prefix: dr-;


$font-family-base: iranyekanBakh;
$font-weight-size: 16px;
$font-weight-base: 400;
$line-height-base: 1.5;
$body-color: $dark;
$body-bg: $light;
