
.container{
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}



.container-fluid{
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
