

*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body{
  direction: ltr;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


body {
  font-family: var(--#{$variable-prefix}body-font-family);
  font-size: var(--#{$variable-prefix}body-font-size);
  font-weight: var(--#{$variable-prefix}body-font-weight);
  line-height: var(--#{$variable-prefix}body-line-height);
  color: var(--#{$variable-prefix}body-color);
  direction: rtl;
  text-align: var(--#{$variable-prefix}body-text-align);
  background-color: var(--#{$variable-prefix}body-bg); // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba($dark, 0); // 4
}

