@tailwind base;
@tailwind components;
@import url(fonts.css);
@import url(form.css);
@import url(fonts/dragon/dragon.css);
html{
    @apply font-body;
    direction: rtl;
}
body {
    @apply text-dark-default;
}

.notyf__dismiss {
    left: 0 !important;
    right: unset !important;
    margin-right: unset !important;
    margin-left: -15px !important;
}

.notyf__icon {
    margin-left: 13px !important;
    margin-right: 0 !important;
}

.notyf__toast {
    text-align: right !important;
}

.notyf__wrapper {
    padding-left: 15px !important;
    padding-right: 0 !important;
}

input {
    outline: none;
}



/* width */
::-webkit-scrollbar {
    @apply w-1.5 ;
}

/* Track */
::-webkit-scrollbar-track {
}

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-700 transition cursor-pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply rounded-lg bg-primary-900;
  }

[multiple]:focus, [type=date]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, select:focus, textarea:focus{
    @apply border-2 border-primary-default;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
@tailwind utilities;
